<a href="https://colab.research.google.com/github/Jmr1986/Module-5/blob/main/Data_Science_Tools_and_Ecosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science Tools and *Ecosystem*

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. R
4. SQL
5. Java

**Objectives:**
- Learn basics of Jupyer Notebook
- Learn basics of Git/GitHub
- List popular tools for data science
- List popular languages and librarys.

Depending on language used, some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Scikit-learn
3. Numpy
4. Seaborn
5. Plots.jl
6. ggplot2
7. Apache Spark

Data Science Tools
- Matplotlib
- Git Hub
- *Tensorflow*

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This a simple arithmetic expression to mutiply then add integers.
x = (3*4) + 5
print(x)

17

In [4]:
# This will convert 200 minutes to hours by diving by 60.
minutes = 200
minh = 60

# As 1 hr has 60 minutes, we must divide 200 by 60 to obtain the equivalency.

y = minutes/minh
print(y)

3.3333333333333335

##Author
Juan Manuel Ruiz